.reviews-stars{
    button{
      background: none;
      border: none;
      outline:none;
      padding: 0;
      &.active{
        i{
              color: #ffc000;
        }
      }
      i{
        color: #d3d2d2;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
  
  i.fas.fa-star {
      width: 29px;
      height: 29px;
      size: 29px;
  }
  
  .fa-star:before {
      width: 29px;
      height: 29px;
      font-size: 29px;
  }